/*Add City card*/

.card-add {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.card-plus {
    width: 100px;
    height: 10px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-plus:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-90deg);
}

.card-city-img {
    width: 300px;
    height: 200px;
}
