.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 2rem;
    /*box-sizing: border-box;*/
    /*height: 100%;*/
}

.search-title {
    font-size: 24px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 2rem 0;
}

.search-block {
    margin: 1rem auto 5rem;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    width: 100%;
}

.search {
    border-radius: 20px 20px 0 0;
    max-width: 900px;
    width: 100%;
    /*border: 2px solid black;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    box-sizing: border-box;
    box-shadow: 0 0 5px 1px #d5d3d3;
    background-color: white;
    /*position: fixed;*/
    z-index: 2;
}

.search-input {
    min-width: 824px;
    max-height: 40px;
    width: 100%;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    font-size: 24px;
    border: none;
    outline: none;
    color: #d5d3d3;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.search-input::placeholder {
    color: #d5d3d3;
}

.search-btn {
    width: 60px;
    margin-right: .5rem;
    cursor: pointer;
}

.search-list {
    background: #181819;
    list-style: none;
    max-width: 900px;
    width: 100%;
    /*box-shadow: 0 0 20px 1px #d5d3d3;*/
    padding: 1rem 1.5rem .5rem;
    box-sizing: border-box;
    /*margin-top: 2rem;*/
    /*position: absolute;*/
    /*bottom: -2.5rem;*/
    z-index: 2;
    max-height: 400px;
    overflow: scroll;
    transition: .5s;
    margin: 0;
}


.search-list.hide {
    opacity: 0;
    display: none;
}

.search-city {
    text-transform: uppercase;

    color: black;
    letter-spacing: 2px;
    font-size: 16px;
    padding-bottom: .5rem;
    padding-left: .5rem;
    margin: 1rem 0;
    box-sizing: border-box;
    /*border-bottom: 1px solid #d5d3d3;*/
    cursor: pointer;
    scroll-behavior: smooth;
}

.search-decor {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(to right, #7da8c9 ,#ffffff);
    position: absolute;
    top: 50%;
    left: 20%;
    z-index: 0;
    transform: scale(10);
}

.search-decor-right {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(to right, #ffffff, #d6c5fb);
    position: absolute;
    bottom: 25%;
    right: 30%;
    /*z-index: 0;*/
    transform: scale(13);
}

@media screen and (max-width: 1024px) {
    .search-decor {
        display: none;
    }

    .search-decor-right {
        right: 40%;
    }
}

@media screen and (max-width: 768px) {
    .search {
        max-width: 700px;
    }

    .search-input {
        min-width: 624px;
    }

    .search-list {
        max-width: 700px;
    }
}

@media screen and (max-width: 540px) {
    .search {
        max-width: 500px;
    }

    .search-input {
        min-width: 420px;
    }

    .search-list {
        max-width: 500px;
    }

    .search-decor-right {
        right: 45%;
        transform: scale(8);
    }
}

@media screen and (max-width: 425px) {
    .search {
        max-width: 400px;
    }

    .search-input {
        min-width: 324px;
    }

    .search-list {
        max-width: 400px;
    }
}

@media screen and (max-width: 375px) {
    .search {
        max-width: 350px;
    }

    .search-input {
        min-width: 280px;
        font-size: 16px;
    }

    .search-list {
        max-width: 350px;
    }

    .search-decor-right {
        bottom: 50%;
        right: 45%;
        transform: scale(5);
        animation: decor 4s linear 1s infinite;
        animation-fill-mode: backwards, both;
    }

    @keyframes decor {
        to {
            transform: scale(5) rotate(360deg);
        }
    }
}

@media screen and (max-width: 320px) {
    .search {
        max-width: 300px;
    }

    .search-input {
        min-width: 220px;
        font-size: 16px;
    }

    .search-block {
        margin-bottom: 1rem;
    }

    .search-list {
        max-width: 300px;
    }

    .search-decor-right {
        bottom: 50%;
        right: 45%;
        transform: scale(4.2);
        animation: decor 4s linear 1s infinite;
        animation-fill-mode: backwards, both;
    }

    @keyframes decor {
        to {
            transform: scale(4.2) rotate(360deg);
        }
    }
}
